.player {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 16px;

	.name {
		background: unset;
	}
	.age {
		width: 150px;
		background: unset;
	}
	.add {
		width: 126px;
	}
	.cancel {
		margin-left: -8px;
	}
	.delete {
		margin-left: -8px;
		
		&:hover {
			background: rgb(var(--colorAlertErrorRGB));
		}
	}
}
