.player {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 16px;

	.name {
		background: unset;
	}
	.age {
		width: 150px;
		background: unset;
	}
	.save {
	}
	.cancel {
		margin-left: -8px;
		margin-right: -8px;
	}
}
