.team {
	width: fit-content;

	.teamTitle {
		font-size: 18px;
		font-variation-settings: "wdth" 75, "wght" 400;
		padding: 5px 0;
	}
	.players {
		width: fit-content;
		display: flex;
		flex-direction: column;
		gap: 14px;
	}
}