.home {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	overflow-y: auto;

	.header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 160px;
		padding: 0 48px;
		display: flex;
		align-items: center;
		z-index: 2;
		transition: all 0.3s ease-out;

		> i {
			margin-right: 16px;
		}

		> p {
			font-size: 36px;
			font-variation-settings: "wdth" 75, "wght" 300;
			margin-right: auto;
			transition: all 0.3s ease-out;
		}
	}
	.content {
		padding: 172px 48px 48px;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		.spinner {
			margin-top: -32px;
		}

		.game {
			width: fit-content;
			display: flex;
			flex-direction: column;
			padding: 3px;
			background: var(--colorBackgroundSecondary);
			box-shadow: 0 0 8px 12px rgb(0 0 0 / 5%);
			border-radius: 16px;

			.gameTitle {
				font-size: 24px;
				font-variation-settings: "wdth" 75, "wght" 600;
				padding: 0 24px;
			}
			.teams {
				width: fit-content;
				display: flex;
				flex-direction: column;
				background: var(--colorBackgroundPrimary);
				padding: 16px 32px;
				border-radius: 8px 8px 14px 14px;
				box-shadow: inset 0 0 8px rgb(0 0 0 / 50%);
			}
		}
	}

	&.float {
		.header {
			height: 80px;
			background-color: var(--colorBackgroundSecondary);
			box-shadow: 0 16px 16px -16px rgb(0 0 0 / 50%);

			p {
				font-size: 28px;
				font-variation-settings: "wdth" 75, "wght" 400;
			}
		}
	}
}
